site_name: "MaidEase Documentation"
site_description: "A smart platform to connect households with verified domestic workers."
site_author: "Hritik Vijay"
site_url: "https://maidease.example.com/" 

theme:
  name: material
  palette:
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.instant
    - navigation.tracking
    - navigation.tabs
    - navigation.sections
    - navigation.top
    - content.code.annotate
    - content.code.copy
    - toc.integrate
    - search.suggest
    - search.highlight

markdown_extensions:
  - pymdownx.highlight:
      anchor_linenums: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - admonition
  - toc:
      permalink: true

nav:
  - Home: 'index.md'
  - 'Functional Flow': 'Functional_flow.md'
  - 'Use Cases': 'use_cases.md'
  - 'Tech Stack': 'Tech_stack.md'
  - 'Authentication': 'Authentication.md'
  - 'Architecture': 'Schema design and Data Flow Diagram.md'
  - 'Error Handling': 'Error_handling.md'
